 .u-section-1 {
  background-image: linear-gradient(#2b34b0, #478ac9);
}

.u-section-1 .u-sheet-1 {
  min-height: 761px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 535px;
  box-shadow: 0px -2px 26px 0 rgba(0,0,0,0.25);
  height: auto;
  margin: 135px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 293px;
  width: 570px;
  margin: 26px auto 0;
}

.u-section-1 .u-label-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-label-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-label-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  background-image: none;
  padding: 10px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  align-self: center;
  margin: 27px 85px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  margin: -26px auto 0 85px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }
}